# ========================
# Database Configuration
# ========================
DB_HOST=localhost
DB_PORT=5432
DB_NAME=marine
DB_USER=postgres
DB_PASSWORD=postgres@123

# ========================
# OpenAI Configuration
# ========================
OPENAI_API_KEY=your_openai_api_key_here
OPENAI_MODEL=gpt-4-turbo
OPENAI_TEMPERATURE=0.0

# ========================
# Application Settings
# ========================
APP_ENV=development
LOG_LEVEL=INFO
FAISS_INDEX_PATH=./storage/faiss_index
DEBUG_MODE=false

EXTERNAL_API_KEY=external_api_key
EXTERNAL_API_BASE_URL=external_api_url
IMAGE_BASE_URL=http://localhost:8000

# SECURITY
BACKEND_CORS_ORIGINS=http://locahost:8000
FRONTEND_HOST=http://locahost:3000

# RATE LIMITING
ENABLE_RATE_LIMITING=True
RATE_LIMIT_DEFAULT=100/minute
RATE_LIMIT_AUTH=10/minute
RATE_LIMIT_API=60/minute
RATE_LIMIT_CHAT=30/minute
RATE_LIMIT_STORAGE_URL=redis://localhost:6379/1
RATE_LIMIT_STRATEGY=fixed-window

UI_DIRECTORY=ui
